<a href="https://colab.research.google.com/github/ElenaKharitonova/Chat_Bot_2024/blob/main/%D0%94%D0%B7_%D0%A1%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%802.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задание 1

###Скачать данные файл kc_house_data.csv (Дополнительный материал)

� Считать данные с помощью pandas

� Вывести на экран первые 5 строк

� Посмотреть на описание признаков и на их содержание

In [3]:
import pandas as pd
df = pd.read_csv('/content/kc_house_data.csv', encoding = 'cp1251', sep = ',')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

![image.png]()![image.png]()

##Задание 2

###Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и
поизучайте их
4. Пишите выводы

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [25]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [8]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [7]:
df.describe(include = ['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [9]:
print("Диапазон цен:", df['price'].min(), "-", df['price'].max())

Диапазон цен: 75000.0 - 7700000.0

In [10]:
print("Диапазон жилой площади:", df['sqft_living'].min(), "-", df['sqft_living'].max())

Диапазон жилой площади: 290 - 13540

In [11]:
print("Диапазон общей площади:", df['sqft_lot'].min(), "-", df['sqft_lot'].max())

Диапазон общей площади: 520 - 1651359

In [13]:
print("Максимальное кол-во ванных комнат:", df['bathrooms'].max())

Максимальное кол-во ванных комнат: 8.0

In [17]:
print("Самый старый дом по году постройки - самый новый дом:", df['yr_built'].min(), "-", df['yr_built'].max())

Самый старый дом по году постройки и самый новый дом: 1900 - 2015

In [20]:
print("Максимальной кол-во спальных комнат:", df['bedrooms'].max())

Максимальной кол-во спальных комнат: 33

In [21]:
print(df['waterfront'].value_counts())

waterfront
0    21450
1      163
Name: count, dtype: int64

In [22]:
print(df['view'].value_counts())

view
0    19489
2      963
3      510
1      332
4      319
Name: count, dtype: int64

In [23]:
print(df['condition'].value_counts())

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [24]:
print(df['grade'].value_counts())

grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

##Задание 3

##Ответьте на несколько вопросов

3.1 В каком диапазоне изменяются стоимости недвижимости?

3.2 Какую долю в среднем занимают жилая площадь от всей
площади по всем домам?

3.3 Как много домов с разными этажами в данных?

3.4 Насколько хорошие состояния у домов в данных?

3.5 Найдите года, когда первый дом, когда построили последний дом в
данных?

In [26]:
print("Диапазон цен:", df['price'].min(), "-", df['price'].max())

Диапазон цен: 75000.0 - 7700000.0

In [27]:
df['segment_sqft'] = df['sqft_living'] / df['sqft_lot'] * 100
df['segment_sqft'].mean()

32.37447254204737

In [29]:
df['floors'].nunique()

6

In [30]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [31]:
df['condition'].mean()

3.4094295100171195

состояние домов в среднем на 3,4 балла из 5 возможных

In [34]:
print("Первый дом построили в ", df['yr_built'].min(), "году, последний год построили в ", df['yr_built'].max(), "году")

Первый дом построили в  1900 году, последний год построили в  2015 году

##Задание 4

###Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

4.3 Как много домов коснулся ремонт?

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [36]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

In [37]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

In [47]:
df[df['yr_renovated'] > 0]['sqft_lot'].shape[0]
df[df['yr_renovated'] > 0]['sqft_lot'].count()

914

In [49]:
average_price_high_grade = df[df['grade'] > 10]['price'].mean()

average_price_low_grade = df[df['grade'] < 4]['price'].mean()

print("Разница в стоимости между домами с высокой и низкой оценкой:", average_price_high_grade - average_price_low_grade)

Разница в стоимости между домами с высокой и низкой оценкой: 1488885.1175298805

##Задание 5

###5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
###5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
###5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [52]:
df[
  (df['waterfront'] == 1) &
  (df['bathrooms'] >= 3) &
  (df['sqft_basement'] > 0)
].shape[0]

41

In [54]:
df_client = df[
  ((df['waterfront'] == 1) | (df['view'] == 4)) &
  (df['condition'] >= 5) &
  (df['yr_renovated'] > 1980)
]
df_client['price'].min(), df_client['price'].max()

(1580000.0, 1900000.0)

In [63]:
df_client1 = df[
  (df['sqft_basement'] == 0) &
  (df['floors'] == 2) &
  (df['price'] < 150000)
]
df_client1['condition'].mean()

2.8333333333333335

In [64]:
df_client1

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,segment_sqft
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,980,0,1922,2003,98014,47.7076,-121.359,1040,5000,19.600000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,1230,0,1983,0,98042,47.3768,-122.149,1660,2243,78.795644
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,1270,0,1981,0,98042,47.3563,-122.149,1270,8993,14.125236
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,1200,0,1908,0,98116,47.5883,-122.384,3290,6000,17.142857
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,980,0,1969,0,98092,47.3170,-122.182,980,3154,39.357430
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,1200,0,1966,0,98055,47.4659,-122.189,1270,1848,59.940060